@font-face {
  font-family: 'Boorsok';
  src: url('../fonts/boorsok.woff?#iefix') format('woff');
  font-weight: 700;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic');
$fonts: "Open Sans" , sans-serif;
$fonts2: "Boorsok" , sans-serif;
$fonts3: "Roboto" , sans-serif;
/*colors*/
$blue:#313656;
$silver:#f8f8f8;
$green:#0cd091;
$orange:#fe6902;
$silver-light:#eaeef4;
$silver-lighter:#f8f9fa;
$silver-too:#515151;
$gold:#ebe6df;

/* Mixins dddd*/
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50,60,65,70, 75,80,85,90,95, 100); // Adjust this to include the pixel amounts you need.

@each $space in $spaceamounts {
    .mb-#{$space}px {
      margin-bottom: #{$space}px !important;
  }
}
@mixin font($weight,$size) {
  font-family: $fonts;
  font-weight: $weight;
  font-size: $size;
}
@mixin font2($weight,$size) {
  font-family: $fonts2;
  font-weight: $weight;
  font-size: $size;
}
@mixin font3($weight,$size) {
  font-family: $fonts3;
  font-weight: $weight;
  font-size: $size;
}
@mixin bg($img-name, $type, $position, $repeat) {
  background-image: url('../images/#{$img-name}.#{$type}');
  background-position: $position;
  background-repeat: $repeat;
}

%top-50{
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
%left-50{
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
%all-50{
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
html{
  overflow-x: hidden;
  font-size:14px;
  min-height: 100%;
}
body{
  overflow-x:hidden;
  font: 14px  'Helvetica Neue', sans-serif;
  line-height: 1.4;
  width: 100%;
  font-weight: 300;
  background: #fff;
  position: relative;
}
a:hover,a:focus,.btn:hover, .btn:focus{
  outline: none !important;
}
/*CSS*/
a{
  &.silver{
	color:#5c6c79;
  }
  &.brown{
	color:#866256;
  }
  &.white{
	color:#fff;
  }
  color:$blue;
  text-decoration: none;
  &:hover,&:focus{
	opacity: 0.8;
	text-decoration: none;
  }
}
h1,.h1{
  margin:0px 0 25px;
  @include font(700,32px);
  color:#000;
}
h2,.h2{
  margin: 10px 0 25px;
  @include font(700,28px);
  color:#000;
}
h3,.h3{
  margin: 0px 0 10px;
  @include font(700,25px);
  color:#000;
}
h4,.h4{
  margin: 0px 0 20px;
  @include font(700,22px);
  color:#000;
}
h5,.h5{
  margin: 0px 0 20px;
  @include font(700,20px);
  color:#000;
}
h6,.h6{
  margin: 0px 0 10px;
  @include font(700,17px);
  color:#000;
}
p{
  @include font(400,16px);
  margin-bottom: 20px;
  line-height: 1.4;
  color: #000;;
  &.white{
	color:#fff;
  }
}
.fs-16px{
  font-size: 16px;
}
.fs-18px{
  font-size: 18px;
}
.fs-20px{
  font-size: 20px;
}
.fs-24px{
  font-size: 24px;
}
ul{
  list-style: none !important;
  margin-bottom: 40px;
  padding-left: 0;
  li{
    @include font2(400,15px);
    margin-bottom: 5px;
    line-height: 1.4;
    color: #000;;
    &.white{
      color:#fff;
    }
  }
}
ul.hyphen{
  list-style: none !important;
  margin-bottom: 20px;
  li{
    @include font2(400,15px);
    margin-bottom: 20px;
    line-height: 1.4;
    color: #000;;
    &.white{
      color:#fff;
    }
  }
}
ul.arrow{
  list-style: none !important;
  margin-bottom: 20px;
  li{
    &:before{
      content: "\f061";
      font: normal normal normal 9px/1 FontAwesome;
      position: absolute;
      top:2px;
      left: 0;
    }
    line-height: 1.2;
    position: relative;
    padding-left: 15px;
    @include font2(400,12px);
    margin-bottom: 10px;
    color:#50667b;
  }
}
ul.check{
  list-style: none !important;
  margin-bottom: 20px;
  li{
	line-height: 1.4;
	@include bg(check-list,png, 0 0px, no-repeat);
	padding-left: 25px;
	@include font(400,16px);
	margin-bottom: 10px;
	color:#5c6c79;
  }
}
ol{
  counter-reset: myCounter;
  padding-left: 0;
  margin-bottom: 30px;
  ul{
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &> li{
    position: relative;
    padding-left: 35px;
    list-style: none;
    @include font(300,15px);
    color:#455b6a;
    margin-bottom: 25px;
    strong{
      font-weight: 500;
      color:#4a4848;
    }
  }
  &>li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    margin-right: 5px;
    position: absolute;
    line-height: 42px;
    top:0;
    left: 0;
    text-align: center;
    @include font(300,42px);
    color:#455b6a;
  }
}
ul.list-unstyled{
  list-style: none !important;
  li{
	padding-left: 0 !important;
	background: none !important;

  }
}
.btn-green{
  background: #49b7ac;
  padding: 10px 25px;
  @include font(400,12px);
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,&:focus{
    opacity: 0.8;
  }
}
.btn-default{
  @include font(700,21px);
  text-decoration: none;
  display: inline-block;
  padding:10px 80px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 40px;
  border:0;
  background: #41af92;
  box-shadow:none;
  outline: none;
  line-height: 1.5;
  position:relative;
  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
    background: #41af92;
    -webkit-box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.62);
    box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.62);
  }
}
.btn-primary{
  @include font3(500,15px);
  border-radius:0px;
  line-height: 1.4;
  text-decoration: none;
  border:0;
  display: inline-block;
  color:#fff;
  padding: 12px 30px 12px;
  background: #4d4d4d;
  white-space: normal;
  &:disabled{
    color:#8f98a6;
    background: $silver-light;
  }
  &:hover, &:focus{
	color:#fff;
	text-decoration: none;
	background: #4d4d4d;
  }
}
.btn-orange{
  @include font(500,16px);
  background: $orange;
  color:#fff;
  border-radius:0px;
  padding: 10px 35px 10px;
  text-transform: uppercase;
  &:hover, &:focus{
	color:#fff;
	background: #ef7600;
  }
}
.btn-yellow{
  @include font(500,15px);
  text-transform: uppercase;
  background: transparent;
  line-height: 18px;
  border-radius:6px;
  padding: 10px 20px 5px;
  &:hover, &:focus{
	color:#fff;
  }
}
.btn-blue{
  background: #84C0FF;
  padding: 10px 25px;
  @include font(400,12px);
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  &:hover,&:focus{
    opacity: 0.8;
  }
}
.btn-violet{
  @include font(500,15px);
  text-transform: uppercase;
  background: transparent;
  line-height: 18px;
  border-radius:6px;
  padding: 10px 20px 5px;
  &:hover, &:focus{
	color:#fff;
  }
}
.btn-white{
  border-radius:6px;
  @include font(500,16px);
  color:#000;
  background: transparent;
  border:2px solid #000;
  line-height: 18px;
  padding: 6px 10px 5px;
  min-width: 264px;
  text-align: left;
  i{
    float: right;
  }
  &:hover, &:focus{
	background: #000;
	border-color:#000;
	color:#fff;
  }
}
.btn-transparent{
  border-radius:0px;
  @include font(500,18px);
  color:#000;
  text-transform: uppercase;
  background: transparent;
  border:1px solid #000;
  line-height: 18px;
  padding: 12px 35px 12px;
  &:hover, &:focus{
    background: $orange;
    border-color:#fff;
    color:#fff;
  }
}
.btn-lg{
  font-size:22px !important;
  line-height: 25px !important;
  padding: 14px 25px 10px;
}
.btn-md{
  font-size:17px !important;
  line-height: 20px !important;
  padding: 12px 20px 8px;
}
.btn-sm{
  font-size:12px !important;
  line-height: 15px !important;
  padding: 8px 20px 4px;
}

.small-title{
  @include font(400,14px);
  color:#a05f26;
  text-transform: uppercase;
}
#footer{
  background: $silver;
  padding: 50px 0 70px;
  hr{
    border-color:#dadada;
    margin: 30px 0;
  }
}
.header-nav{
  ul{
    text-align: right;
    margin-bottom: 0;
    li{
      display: inline-block;
      margin: 0 5px;
      a{
        padding: 10px 20px;
        border-radius: 8px;
        display: inline-block;
        color:$blue;
        @include font(600,14px);
        &:hover{
          background: #fbc149;
          span{
            border-color:transparent;
          }
        }
        span{
          border-bottom:1px solid $blue;
        }
      }
    }
  }
}
#header{
  padding: 13px 0;
}
.footer-contacts{
  @include font(400,16px);
  color:$blue;
}
.f-link{
  border-bottom: 1px solid $blue;
  &:hover,&:focus{
    border-color: transparent;
  }
}
.min-left{
  float: left;
  margin-right: 15px;
}
.min-right{
  overflow: hidden;
  @include font(400,15px);
  color:$blue;
}
.ww-title{
  @include font2(700,48px);
  color:$blue;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.wwb-title{
  @include font2(700,30px);
  color:#313656;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.ww-image{
  text-align: center;
  margin-bottom: 25px;
  min-height: 186px;
}
.why-we{
  padding: 75px 0 60px;
}
.themes-info{
  background: #fcfbed;
  padding: 65px 0;
}
.ti-block{
  margin-bottom: 25px;
  p{
    margin-bottom: 0;
    @include font(300,16px);
    color:$blue;
  }
}
.ti-title{
  @include font(600,21px);
  color:$blue;
  margin-bottom: 15px;
}
.au-title{
  @include font2(400,48px);
  color:$blue;
}
.about-us p{
  @include font(300,21px);
  color:$blue;
}
.about-us {
  padding: 60px 0;
  .min-right{
    font-size: 14px;
    opacity: 0.5;
  }
}
.au-img{
  img{
    margin-bottom: 10px;
  }
}
.au-b-title{
  @include font(400,14px);
  color:$blue;
}
.au-info{
  @include font(600,14px);
  color:$blue;
}
.top-container{
  @include bg(bg,jpg,top center,no-repeat);
  background-size: cover;
  padding: 60px 0 0;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  h1,.h1{
    @include font2(400,68px);
    color:$blue;
    margin-bottom: 0px;
  }
}
.form-container{
  padding-top:70px;
  @include bg(form-bg,jpg,top center, no-repeat);
  background-size: cover;
  position: relative;
  &:before{
    content:'';
    position: absolute;
    top:50%;
    @extend %top-50;
    left: 0px;
    width: 391px;
    height: 471px;
    @include bg(form-before,png, 0 0,no-repeat);
  }
  &:after{
    content:'';
    position: absolute;
    top:50%;
    @extend %top-50;
    right: 20px;
    width: 391px;
    height: 471px;
    @include bg(form-after,png, 0 0,no-repeat);
  }
}
.form-block{
  position: relative;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 1%, #f8f9f9 50%, #e6e8e9 100%);
  background: -webkit-linear-gradient(top,  #ffffff 1%,#f8f9f9 50%,#e6e8e9 100%);
  background: linear-gradient(to bottom,  #ffffff 1%,#f8f9f9 50%,#e6e8e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e8e9',GradientType=0 );
  padding: 50px 50px 70px;
  border-radius: 20px;
  z-index: 2;
  &:before{
    content: '';
    @include bg(l,png,0 0,no-repeat);
    width: 379px;
    height: 334px;
    position: absolute;
    bottom:0;
    left: -44px;
  }
  &:after{
    content: '';
    @include bg(r,png,0 0,no-repeat);
    width: 379px;
    height: 334px;
    position: absolute;
    bottom:0;
    right: -44px;
  }
  label{
    @include font(400,21px);
    color:$blue;
    text-align: right;
    display: block;
    margin-top: 5px;
    span{
      color:red;
    }
  }
}
.form-title{
  @include font2(400,48px);
  color:#485c66;
  text-align: center;
  margin-bottom: 40px;

}
.form-control{
  border-radius: 15px;
  font-size: 21px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}
.label-info{
  @include font(400,14px);
  color:#859299;
  text-align: right;
  margin-bottom: 25px;
}
textarea{
  resize: none;
  height: 130px !important;
}
.obyaz{
  @include font(400,14px);
  color:#859299;
  span{
    color:red;
  }
}
.theme-main{
  background: #f3f6e3;
  padding-top: 60px;
  .main-title{
    margin-bottom: 100px;
  }
}
.tb-img{
  margin-bottom: -54px;
}
.main-title{
  @include font2(400,48px);
  color: $blue;
  margin-bottom: 25px;
}
.theme-block{
  position: relative;
}
.tb{
  position: absolute;
  z-index: 2;
}
.tb1{
  bottom: 37%;
  left: 4%;
  .tb-abs{
    bottom: -292px;
    left: -110px;
  }
}
.tb3{
  top: -70px;
  left: 18%;
  .tb-abs{
    top: -250px;
    left: -270px;
  }
}
.tb4{
  top: -93px;
  left: 40%;
  text-align: center;
  .tb-abs{
    top: -300px;
    left: -60px;
  }
}
.tb5 {
  top: -60px;
  right:18%;
  text-align: center;
  .tb-abs {
    top: -290px;
    left: 0px;
  }
}
.tb6 {
  top: 47px;
  right: 17%;
  text-align: center;
  .tb-abs {
    top: -130px;
    right: -300px;
  }
}
.tb7 {
  top: 186px;
  right: 4%;
  text-align: center;
  .tb-abs {
    top: 30px;
    right: -170px;
  }
}
.tb2{
  top: 17%;
  left: 21%;
  .tb-abs{
    top: -130px;
    left: -300px;
  }
}
.tb-t{
  @include font(400,30px);
  color:$blue;
  border-bottom:1px dashed $blue;
  position: relative;
  z-index: 3;
  text-align: center;
  cursor: pointer;
  &:hover,&:focus{
    border-color:transparent;
    font-weight: 700;
    color:#e85f5b;
  }
}
.tb-abs{
  position: absolute;
  z-index: 2;
  display: none;
  padding-top: 10px;
  img{
    border-radius: 50%;
  }
}

.par {
  height: 100%;
  position: absolute;
  bottom: -130px;
  left:0;
  width: 100%;
  img{
    position: absolute;
    left: 50%;
    @extend %left-50;
    top:98px;
  }
}